mixin affluent-sticky-bar
  .affluent-sticky_reserve(x-data="affluent_sticky")
    .affluent-sticky_container(x-ref="sticky")
      button.affluent-button_primary View brochure
      button.affluent-button_primary Secondary button
  