extends ../../../templates/_component

block append variables
  - path = '../../../../'

block append content
  +component("affluent-standfirst")
    +affluent-standfirst("<p><b>Secure Your Tomorrow</b> with Confidence</p>", "<p>Experience personalised financial solutions at every milestone. Trust us to:</p>", "connect")