@layer components {
  .infographic {
    &-product {
      &_card {
        @apply p-6 rounded-3xl w-[324px] hover:drop-shadow-xl transition-all duration-200;
      }
    }
    &-input {
      @apply flex-shrink-0 w-6 h-6 border border-grey-1200 bg-no-repeat bg-center appearance-none cursor-pointer;
      &[type="radio"] {
        @apply bg-white rounded-full border-singlife-purple;
      }
      &:checked {
        &[type="radio"] {
          @apply bg-white relative;
          &:after {
            content: '';
            @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[15px] h-[15px] rounded-full bg-singlife-purple;
          }
        }
      }
    }
  }
  .popover-tooltip {
    --top: 0;
    --left: 0;
    --pointer: 22px;
    position: absolute;
    background: transparent;
    top: var(--top);
    left: var(--left);
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: var(--pointer);
      width: 22px;
      height: 14px;
      background: #434343;
      clip-path: path('M12.5726 11.9985C11.7719 13.0176 10.2281 13.0176 9.42735 11.9985L6.8343e-07 1.59523e-08L4.50001 -3.77451e-07L19 2.62268e-07L22 0L12.5726 11.9985Z');
    }
    &.right-align {
      --right: 0;
      left: auto;
      right: var(--right);
    }
  }
}