@layer components {
  .popover-tooltip {
    --top: 0;
    --left: 0;
    --pointer: 22px;
    @apply top-auto left-0 bottom-0 right-0;
    @apply mobile:absolute bg-transparent mobile:top-[var(--top)] mobile:left-[var(--left)] mobile:bottom-auto mobile:right-auto;
    &.top-pointer {
      @apply mobile:pb-[14px];
      &:after {
        bottom: 1px;
        left: var(--pointer);
      }
    }
    &.bottom-pointer {
      @apply mobile:pt-[14px];
      &:after {
        top: 1px;
        left: var(--pointer);
        transform: rotate(180deg);
      }
    }
    &::backdrop {
      @apply mobile:hidden bg-black/70;
    }
    &:before {
      content: "";
      @apply mobile:hidden absolute top-1 left-1/2 -translate-x-1/2 w-20 h-1 rounded-full bg-grey;
    }
    &:after {
      @apply hidden mobile:block;
      content: "";
      position: absolute;
      width: 22px;
      height: 14px;
      background: #434343;
      clip-path: path(
        "M12.5726 11.9985C11.7719 13.0176 10.2281 13.0176 9.42735 11.9985L6.8343e-07 1.59523e-08L4.50001 -3.77451e-07L19 2.62268e-07L22 0L12.5726 11.9985Z"
      );
    }
    &.right-align {
      --right: 0;
      left: auto;
      right: var(--right);
    }
    &_content {
      @apply p-8 mobile:p-6 rounded-tl-2xl rounded-tr-2xl mobile:rounded-2xl bg-white mobile:bg-grey text-grey mobile:text-white mobile:max-w-[407px];
    }
    &_header {
      @apply text-[18px] leading-[1.4] tracking-[0.015em] font-semibold mb-2;
    }
    &_body {
      @apply text-[14px] leading-[1.4] font-medium;
    }
  }
}
