extends ../templates/_layout
include ../layouts/_header

block variables
  -
    var appId = 'affluent';
    var title = 'Affluent Page';
    var description = 'Description: This page is top page.';
    var classes = 'none'

block content
  +card-left-content-carousel