extends ../templates/_layout
include ../layouts/_header

block variables
  -
    var appId = 'Infographic';
    var title = 'Infographic Page';
    var description = 'Description: This page is top page.';
    var classes = 'none'

block content
  +parsys
  +flip-cards-tooltip('static')
  +infographic
  +infographic
  +popover-tooltip
  +affluent-spacer(80, 1800)
