mixin infographic-chart 
  div(class="w-[432px] aspect-square")
    img.text-white(src=path+"assets/icons/infographic/pie-red.svg", alt="")
    img.rotate-180(src=path+"assets/icons/infographic/pie-blue.svg", alt="")