mixin infographic-chart(nextstate)
  div(class="w-[500px] mx-auto mb-[82px] h-[224px] relative overflow-hidden p-2")
    div(x-ref="sinlifeWillpayRatio" class="sinlife-willpay-ratio absolute top-1 left-6 z-10 bg-white drop-shadow-lg aspect-square rounded-full w-[100px] flex flex-col items-center justify-center")
      p.text-center.text-singlife-red-400(class="text-[34px] leading-none font-bold" x-text="sllpay + '%'")
      p.text-center(class="text-label font-semibold text-grey") Sinlife will pay
    div(x-ref="youWillpayRatio" class="absolute z-10 bg-white drop-shadow-lg aspect-square rounded-full w-[100px] flex flex-col items-center justify-center transition-all duration-300" 
      :class=`selectedPlan === '${nextstate}' ? 'bottom-1 right-1' : 'bottom-20 right-12'`)
      p.text-center.text-singlife-teal-100(class="text-[34px] leading-none font-bold" x-text="yllpay + '%'")
      p.text-center(class="text-label font-semibold text-grey") You will pay
    //- img.absolute.top-2.left-2(class="w-[432px] h-[432px] transition-transform duration-300" :class=`selectedPlan === '${nextstate}' && 'rotate-[66.6deg]'` src=path+"assets/icons/infographic/donut.svg", alt="")
    div.absolute.top-2.left-2(class="w-[432px] h-[432px] transition-transform duration-300" :class=`selectedPlan === '${nextstate}' && 'rotate-[66.6deg]'`)
      | <svg viewBox="0 0 453 452" fill="none" xmlns="http://www.w3.org/2000/svg">
      |   <g @mouseover="showTooltip('sllpaypov', 'sinlifeWillpayRatio')" @mouseleave="hideTooltip('sllpaypov')" filter="url(#filter0_d_133_318)">
      |     <path fill-rule="evenodd" clip-rule="evenodd"
      |       d="M226 442C345.294 442 442 345.294 442 226C442 225.329 441.997 224.658 441.991 223.988C441.999 225.159 441.998 226.331 441.987 227.503L311 226.291C310.843 273.101 272.847 311 226 311C179.056 311 141 272.944 141 226C141 179.056 179.056 141 226 141C232.268 141 238.377 141.678 244.259 142.966L276.853 16.0203C260.545 12.085 243.516 10 226 10C106.706 10 10 106.706 10 226C10 345.294 106.706 442 226 442Z"
      |       fill="#FA8F8C" />
      |   </g>
      |   <g filter="url(#filter1_d_133_318)">
      |     <path fill-rule="evenodd" clip-rule="evenodd"
      |       d="M311.031 226.244V226.248L442.054 226.248C442.054 205.208 438.98 184.282 432.93 164.131L307.465 201.803C309.785 209.544 311.031 217.748 311.031 226.244Z"
      |       fill="#8ACBC5" />
      |   </g>
      |   <g @mouseover="showTooltip('yllpaypov', 'youWillpayRatio')" @mouseleave="hideTooltip('yllpaypov')" filter="url(#filter2_d_133_318)">
      |     <path fill-rule="evenodd" clip-rule="evenodd"
      |       d="M250.066 144.46C278.443 152.834 300.64 175.618 308.185 204.341L435.002 171.492C427.668 143.368 414.684 116.827 396.633 93.5678C367.876 56.5137 327.857 29.8493 282.648 17.5615L250.066 144.46Z"
      |       fill="#C1EEEA" />
      |   </g>
      |   <mask id="mask0_133_318" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="10" y="10" width="432" height="432">
      |     <path fill-rule="evenodd" clip-rule="evenodd"
      |       d="M226 442C345.294 442 442 345.294 442 226C442 106.706 345.294 10 226 10C106.706 10 10 106.706 10 226C10 345.294 106.706 442 226 442ZM226 311C272.944 311 311 272.944 311 226C311 179.056 272.944 141 226 141C179.056 141 141 179.056 141 226C141 272.944 179.056 311 226 311Z"
      |       fill="#D9D9D9" />
      |   </mask>
      |   <g mask="url(#mask0_133_318)">
      |     <line x1="226.721" y1="224.783" x2="431.783" y2="172.279" stroke="white" stroke-width="2" stroke-linecap="round"
      |       stroke-dasharray="8 8" />
      |   </g>
      |   <path
      |     d="M346.72 208V200.7H348.76C351.03 200.7 352.56 202.28 352.56 204.35C352.56 206.43 350.94 208 348.79 208H346.72ZM348.7 201.42H347.5V207.27H348.73C350.5 207.27 351.76 206.01 351.76 204.35C351.76 202.68 350.58 201.42 348.7 201.42ZM356.268 208.1C354.678 208.1 353.638 207.01 353.638 205.54C353.638 204.04 354.728 202.9 356.228 202.9C357.668 202.9 358.788 203.89 358.788 205.42V205.75H354.388C354.488 206.74 355.268 207.41 356.268 207.41C357.078 207.41 357.648 206.99 357.958 206.38L358.628 206.71C358.168 207.58 357.388 208.1 356.268 208.1ZM356.228 203.59C355.328 203.59 354.628 204.2 354.428 205.04H357.998C357.858 204.14 357.198 203.59 356.228 203.59ZM362.321 208.1C360.851 208.1 359.761 206.93 359.761 205.5C359.761 204.07 360.831 202.9 362.321 202.9C362.961 202.9 363.721 203.22 364.151 203.81V200.7H364.901V208H364.161V207.18C363.731 207.78 362.961 208.1 362.321 208.1ZM362.361 207.4C363.431 207.4 364.231 206.55 364.231 205.5C364.231 204.46 363.431 203.6 362.361 203.6C361.341 203.6 360.541 204.45 360.541 205.5C360.541 206.55 361.341 207.4 362.361 207.4ZM368.44 208.1C366.98 208.1 366.23 207.22 366.23 205.78V203H367.01V205.78C367.01 206.75 367.51 207.4 368.51 207.4C369.42 207.4 370.09 206.68 370.09 205.77V203H370.86V208H370.1V207.26C369.75 207.77 369.16 208.1 368.44 208.1ZM374.637 208.1C373.107 208.1 372.007 206.94 372.007 205.5C372.007 204 373.157 202.9 374.627 202.9C375.717 202.9 376.597 203.51 376.967 204.39L376.267 204.69C375.957 204 375.397 203.6 374.617 203.6C373.567 203.6 372.787 204.45 372.787 205.5C372.787 206.55 373.577 207.4 374.657 207.4C375.487 207.4 376.027 206.9 376.307 206.24L377.017 206.54C376.617 207.45 375.827 208.1 374.637 208.1ZM377.688 203.7V203H378.548V201.82L379.328 201.39V203H380.508V203.7H379.328V206.08C379.328 207.1 379.518 207.27 380.508 207.27V208H380.398C378.938 208 378.548 207.58 378.548 206.09V203.7H377.688ZM381.65 203H382.43V208H381.65V203ZM381.43 201.35C381.43 201 381.7 200.74 382.04 200.74C382.4 200.74 382.66 201 382.66 201.35C382.66 201.7 382.4 201.97 382.04 201.97C381.68 201.97 381.43 201.7 381.43 201.35ZM386.408 208.1C385.758 208.1 384.988 207.78 384.568 207.18V208H383.828V200.7H384.578V203.81C384.998 203.22 385.758 202.9 386.408 202.9C387.898 202.9 388.968 204.07 388.968 205.5C388.968 206.93 387.878 208.1 386.408 208.1ZM386.368 207.4C387.388 207.4 388.188 206.55 388.188 205.5C388.188 204.45 387.388 203.6 386.368 203.6C385.298 203.6 384.498 204.46 384.498 205.5C384.498 206.55 385.298 207.4 386.368 207.4ZM390.127 208V200.7H390.907V208H390.127ZM394.696 208.1C393.106 208.1 392.066 207.01 392.066 205.54C392.066 204.04 393.156 202.9 394.656 202.9C396.096 202.9 397.216 203.89 397.216 205.42V205.75H392.816C392.916 206.74 393.696 207.41 394.696 207.41C395.506 207.41 396.076 206.99 396.386 206.38L397.056 206.71C396.596 207.58 395.816 208.1 394.696 208.1ZM394.656 203.59C393.756 203.59 393.056 204.2 392.856 205.04H396.426C396.286 204.14 395.626 203.59 394.656 203.59ZM348.86 220.1C347.4 220.1 346.65 219.22 346.65 217.78V215H347.43V217.78C347.43 218.75 347.93 219.4 348.93 219.4C349.84 219.4 350.51 218.68 350.51 217.77V215H351.28V220H350.52V219.26C350.17 219.77 349.58 220.1 348.86 220.1ZM355.256 220.1C354.556 220.1 353.836 219.82 353.426 219.24V222.3H352.676V215H353.416V215.82C353.836 215.23 354.606 214.9 355.256 214.9C356.746 214.9 357.816 216.07 357.816 217.5C357.816 218.93 356.726 220.1 355.256 220.1ZM355.216 219.4C356.236 219.4 357.036 218.55 357.036 217.5C357.036 216.45 356.236 215.6 355.216 215.6C354.146 215.6 353.346 216.46 353.346 217.5C353.346 218.55 354.146 219.4 355.216 219.4ZM360.617 215.7V215H361.477V213.82L362.257 213.39V215H363.437V215.7H362.257V218.08C362.257 219.1 362.447 219.27 363.437 219.27V220H363.327C361.867 220 361.477 219.58 361.477 218.09V215.7H360.617ZM366.785 220.1C365.345 220.1 364.195 218.97 364.195 217.5C364.195 216.03 365.345 214.9 366.785 214.9C368.225 214.9 369.385 216.03 369.385 217.5C369.385 218.97 368.225 220.1 366.785 220.1ZM366.785 219.4C367.805 219.4 368.605 218.55 368.605 217.5C368.605 216.45 367.805 215.6 366.785 215.6C365.765 215.6 364.975 216.45 364.975 217.5C364.975 218.55 365.765 219.4 366.785 219.4ZM374.73 220.1C373.41 220.1 372.53 219.54 371.87 218.79L373.14 217.79C373.5 218.41 374.07 218.77 374.72 218.77C375.43 218.77 375.81 218.31 375.81 217.81C375.81 217.21 375.08 217.02 374.3 216.78C373.32 216.48 372.23 216.1 372.23 214.7C372.23 213.53 373.25 212.6 374.66 212.6C375.85 212.6 376.53 213.05 377.12 213.66L375.97 214.53C375.67 214.08 375.24 213.84 374.67 213.84C374.02 213.84 373.67 214.19 373.67 214.65C373.67 215.21 374.37 215.4 375.15 215.66C376.14 215.98 377.26 216.42 377.26 217.82C377.26 218.98 376.34 220.1 374.73 220.1ZM383.134 217.82C383.134 218.83 382.424 219.81 381.174 220.04V221.2H379.784V220.03C378.844 219.86 378.124 219.39 377.604 218.79L378.874 217.79C379.094 218.17 379.444 218.46 379.824 218.62V216.75C378.894 216.47 377.874 215.96 377.874 214.7C377.874 213.7 378.654 212.86 379.784 212.65V211.6H381.174V212.68C381.924 212.84 382.454 213.2 382.904 213.66L381.754 214.53C381.594 214.3 381.374 214.12 381.134 214.01V215.7C382.074 216.01 383.134 216.54 383.134 217.82ZM381.724 217.81C381.724 217.48 381.484 217.28 381.134 217.13V218.66C381.504 218.5 381.724 218.16 381.724 217.81ZM379.264 214.65C379.264 214.99 379.474 215.17 379.824 215.3V213.94C379.474 214.07 379.264 214.33 379.264 214.65ZM386.353 220.1C385.083 220.1 384.283 219.69 383.583 218.75L384.793 217.88C385.183 218.55 385.703 218.83 386.363 218.83C387.043 218.83 387.553 218.46 387.553 217.83C387.553 217.29 387.213 216.92 386.463 216.92H385.503V215.64H386.443C387.223 215.64 387.513 215.17 387.513 214.66C387.513 214.24 387.123 213.81 386.383 213.81C385.583 213.81 385.223 214.09 384.913 214.71L383.703 214.11C384.233 213.09 385.143 212.6 386.373 212.6C387.813 212.6 388.863 213.42 388.863 214.6C388.863 215.32 388.553 215.89 388.013 216.25C388.593 216.57 388.943 217.1 388.943 217.87C388.943 219.12 387.983 220.1 386.353 220.1ZM389.452 221.17L389.792 219.13H391.002L390.302 221.17H389.452ZM394.243 220.1C392.863 220.1 391.983 219.49 391.563 218.68L392.913 217.9C393.113 218.45 393.593 218.82 394.263 218.82C394.903 218.82 395.493 218.29 395.493 217.54C395.493 216.81 395.013 216.22 394.223 216.22C393.593 216.22 393.213 216.52 392.933 216.94L391.693 216.3L392.213 212.7H396.583V214H393.303L393.113 215.29C393.413 215.11 393.843 214.95 394.433 214.95C395.763 214.95 396.893 215.8 396.893 217.55C396.893 219 395.783 220.1 394.243 220.1ZM400.121 218.72C400.831 218.72 401.231 218.25 401.231 217.66V215.09C401.231 214.42 400.831 213.97 400.141 213.97C399.431 213.97 399.031 214.46 399.031 215.09V217.65C399.031 218.26 399.411 218.72 400.121 218.72ZM400.131 220.1C398.521 220.1 397.641 219.12 397.641 217.72V215.04C397.641 213.66 398.661 212.6 400.131 212.6C401.641 212.6 402.621 213.69 402.621 215.03V217.72C402.621 219.15 401.691 220.1 400.131 220.1ZM406 218.72C406.71 218.72 407.11 218.25 407.11 217.66V215.09C407.11 214.42 406.71 213.97 406.02 213.97C405.31 213.97 404.91 214.46 404.91 215.09V217.65C404.91 218.26 405.29 218.72 406 218.72ZM406.01 220.1C404.4 220.1 403.52 219.12 403.52 217.72V215.04C403.52 213.66 404.54 212.6 406.01 212.6C407.52 212.6 408.5 213.69 408.5 215.03V217.72C408.5 219.15 407.57 220.1 406.01 220.1Z"
      |     fill="#01704A" />
      |   <defs>
      |     <filter id="filter0_d_133_318" x="0" y="0" width="452" height="452" filterUnits="userSpaceOnUse"
      |       color-interpolation-filters="sRGB">
      |       <feFlood flood-opacity="0" result="BackgroundImageFix" />
      |       <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
      |         result="hardAlpha" />
      |       <feOffset />
      |       <feGaussianBlur stdDeviation="5" />
      |       <feComposite in2="hardAlpha" operator="out" />
      |       <feColorMatrix type="matrix" values="0 0 0 0 0.980392 0 0 0 0 0.560784 0 0 0 0 0.54902 0 0 0 1 0" />
      |       <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_133_318" />
      |       <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_133_318" result="shape" />
      |     </filter>
      |     <filter x-show="selectedPlan === 'starter'" id="filter1_d_133_318" x="297.465" y="154.131" width="154.59"
      |       height="82.1171" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      |       <feFlood flood-opacity="0" result="BackgroundImageFix" />
      |       <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
      |         result="hardAlpha" />
      |       <feOffset />
      |       <feGaussianBlur stdDeviation="5" />
      |       <feComposite in2="hardAlpha" operator="out" />
      |       <feColorMatrix type="matrix" values="0 0 0 0 0.756863 0 0 0 0 0.933333 0 0 0 0 0.917647 0 0 0 1 0" />
      |       <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_133_318" />
      |       <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_133_318" result="shape" />
      |     </filter>
      |     <filter id="filter2_d_133_318" x="240.066" y="7.56152" width="204.936" height="206.779" filterUnits="userSpaceOnUse"
      |       color-interpolation-filters="sRGB">
      |       <feFlood flood-opacity="0" result="BackgroundImageFix" />
      |       <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
      |         result="hardAlpha" />
      |       <feOffset />
      |       <feGaussianBlur stdDeviation="5" />
      |       <feComposite in2="hardAlpha" operator="out" />
      |       <feColorMatrix type="matrix" values="0 0 0 0 0.756863 0 0 0 0 0.933333 0 0 0 0 0.917647 0 0 0 1 0" />
      |       <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_133_318" />
      |       <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_133_318" result="shape" />
      |     </filter>
      |   </defs>
      | </svg>