mixin infographic-card-item(color, title, desc)
  .infographic_card-item
    .infographic_card-title(class=color)=title
    .infographic_card-desc=desc

mixin uil-product-grid
  .infographic_card-listing
    +infographic-card-item('bg-singlife-green-200', 'MediShield Life', 'Basic medical insurance plan by the Central Provident Fund (CPF) Board')
    .infographic_card-plus +
    +infographic-card-item('bg-singlife-purple-600 text-black','Singlife Shield Starter', 'Integrated Shield Plan (IP) by Singlife for greater medical coverage')
    .infographic_card-plus +
    +infographic-card-item('bg-singlife-purple-700 text-black','Health Plus Starter', 'Singlife Shield Starter’s Rider')