mixin secondary-button(title)
  button.sl-secondary-button&attributes(attributes)=title

mixin primary-button(title)
  button.sl-primary-button&attributes(attributes)=title

mixin tertiary-button(title)
  button.sl-tertiary-button&attributes(attributes)=title