@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Black.otf') format('opentype');
  font-style: normal;
  font-weight: 900;

}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-BlackIt.otf') format('opentype');
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Extrabold.otf') format('opentype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-ExtraboldIt.otf') format('opentype');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-BoldIt.otf') format('opentype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-BoldIt.otf') format('opentype');
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Semibold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;

}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-SemiboldIt.otf') format('opentype');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-MediumIt.otf') format('opentype');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Book.otf') format('opentype');
  font-style: normal;
  font-weight: 400;

}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-BookIt.otf') format('opentype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Book.otf') format('opentype');
  font-style: normal;
  font-weight: normal;

}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-BookIt.otf') format('opentype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-LightIt.otf') format('opentype');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: 250;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-ThinIt.otf') format('opentype');
  font-style: italic;
  font-weight: 250;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Ultrathin.otf') format('opentype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-UltrathinIt.otf') format('opentype');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-Hairline.otf') format('opentype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: SharpSansDispNo1;
  src: url('../assets/fonts/SharpSansDispNo1-HairlineIt.otf') format('opentype');
  font-style: italic;
  font-weight: 100;
}