@layer components {
  .affluent-hiw-infographic {
    &_container {
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        @apply w-[calc(100vw-48px)] mobile:w-[min(1280px,_calc(100vw-48px))];
        img {
          @apply w-full h-full object-cover rounded-2xl;
        }
      }
      .swiper-slide-next {
        @apply mobile:pl-8;
      }
      .swiper-slide-prev {
        @apply mobile:pr-8;
      }
      .swiper-pagination {
        @apply static flex w-full justify-center gap-x-3 mt-[30px] mobile:mt-[52px];
        .swiper-pagination-bullet {
          @apply cursor-pointer block w-9 h-1 rounded-full bg-slate-600 bg-white/20;
        }
        .swiper-pagination-bullet-active {
          @apply bg-sl-affluent-beige-100;
        }
      }
      .swiper-slide-active {
        .sl-card-media-carousel-item-control-panel {
          @apply block w-auto;
          .action-icon {
            @apply cursor-pointer;
          }
        }
      }
    }
    &_item {
      @apply w-full;
    }
  }
}
